html {
  box-sizing: border-box;
  font-size: 10px;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  max-width: 90%;
  margin: 0;

}

nav {
  background-color: mediumturquoise;
  display:flex;
  width: 100%;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: gold;
}

nav h1 {
  font-size: 16px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul a {
  font-size: 16px;
  display: flex;

}
